
@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h2>Đăng ký thành viên</h2>
    @using (Html.BeginForm("Register", "User", FormMethod.Post))
    {
        
    }
</div>

