
@{
    ViewBag.Title = "Tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row py-3">
        <div class="col-3">
            <h5>TRANG TÀI KHOẢN</h5>
            <ul class="ps-0">
                <li><a class="text-decoration-none" href="/tai-khoan">Thông tin tài khoản</a></li>
                <li><a class="text-decoration-none" href="/don-hang">Đơn hàng</a></li>
                <li><a class="text-decoration-none" href="/thay-doi-mat-khau">Đổi mật khẩu</a></li>
                <li><a class="text-decoration-none" href="/dang-xuat">Đăng xuất</a></li>
            </ul>
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</div>

