<section class="footer bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h6>VỀ CHÚNG TÔI</h6>
                <ul class="ps-0">
                    <li><a class="text-decoration-none" href="/" title="Trang chủ">Trang chủ</a></li>
                    <li><a class="text-decoration-none" href="/gioi-thieu" title="Giới thiệu">Giới thiệu</a></li>
                    <li><a class="text-decoration-none" href="/collections/all" title="Sản phẩm">Sản phẩm</a></li>
                    <li><a class="text-decoration-none" href="/tin-moi-nhat" title="Tin mới nhất">Tin mới nhất</a></li>
                    <li><a class="text-decoration-none" href="/cau-hoi-thuong-gap" title="Câu hỏi thường gặp">Câu hỏi thường gặp</a></li>
                    <li><a class="text-decoration-none" href="/tuyen-dung" title="Tuyển dụng">Tuyển dụng</a></li>
                    <li><a class="text-decoration-none" href="/lien-he" title="Liên hệ">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>VĂN PHÒNG GIAO DỊCH</h6>
                <ul class="ps-0">
                    <li><a class="text-decoration-none" href="/" title="Trang chủ">Trang chủ</a></li>
                    <li><a class="text-decoration-none" href="/gioi-thieu" title="Giới thiệu">Giới thiệu</a></li>
                    <li><a class="text-decoration-none" href="/collections/all" title="Sản phẩm">Sản phẩm</a></li>
                    <li><a class="text-decoration-none" href="/tin-moi-nhat" title="Tin mới nhất">Tin mới nhất</a></li>
                    <li><a class="text-decoration-none" href="/cau-hoi-thuong-gap" title="Câu hỏi thường gặp">Câu hỏi thường gặp</a></li>
                    <li><a class="text-decoration-none" href="/tuyen-dung" title="Tuyển dụng">Tuyển dụng</a></li>
                    <li><a class="text-decoration-none" href="/lien-he" title="Liên hệ">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>CHÍNH SÁCH BÁN HÀNG</h6>
                <ul class="ps-0">
                    <li><a class="text-decoration-none" href="/" title="Trang chủ">Trang chủ</a></li>
                    <li><a class="text-decoration-none" href="/gioi-thieu" title="Giới thiệu">Giới thiệu</a></li>
                    <li><a class="text-decoration-none" href="/collections/all" title="Sản phẩm">Sản phẩm</a></li>
                    <li><a class="text-decoration-none" href="/tin-moi-nhat" title="Tin mới nhất">Tin mới nhất</a></li>
                    <li><a class="text-decoration-none" href="/cau-hoi-thuong-gap" title="Câu hỏi thường gặp">Câu hỏi thường gặp</a></li>
                    <li><a class="text-decoration-none" href="/tuyen-dung" title="Tuyển dụng">Tuyển dụng</a></li>
                    <li><a class="text-decoration-none" href="/lien-he" title="Liên hệ">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>THEO DÕI CHÚNG TÔI</h6>
                <ul class="ps-0">
                    <li><a class="text-decoration-none" href="/" title="Trang chủ">Trang chủ</a></li>
                    <li><a class="text-decoration-none" href="/gioi-thieu" title="Giới thiệu">Giới thiệu</a></li>
                    <li><a class="text-decoration-none" href="/collections/all" title="Sản phẩm">Sản phẩm</a></li>
                    <li><a class="text-decoration-none" href="/tin-moi-nhat" title="Tin mới nhất">Tin mới nhất</a></li>
                    <li><a class="text-decoration-none" href="/cau-hoi-thuong-gap" title="Câu hỏi thường gặp">Câu hỏi thường gặp</a></li>
                    <li><a class="text-decoration-none" href="/tuyen-dung" title="Tuyển dụng">Tuyển dụng</a></li>
                    <li><a class="text-decoration-none" href="/lien-he" title="Liên hệ">Liên hệ</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
        </div>
        <hr>
        <div class="row">
        </div>
    </div>
</section>
