@model List<Model.EF.ProductCategory>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @{ var url = Url.Action("Product", "Product", new { categorySlug = item.Slug });}
            <a href="@url">@item.Name</a>
        </li>
    }
</ul>
