@model List<Model.EF.ProductCategory>

<ul class="dropdown-menu">
    @foreach (var item in Model)
    {
        <li>
            @{ var url = Url.Action("Product", "Product", new { categorySlug = item.Slug });}
            <a class="dropdown-item" href="@url">@item.Name</a>
        </li>
    }
</ul>